{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Penjualan pulsa All Operator dan produk online lainya dalam satu genggaman, serasa miliki warung kamu sendiri.">
        <meta name="language" content="id">
        <meta name="keywords" content="pulsa, penjualan pulsa, multipayment, penjualan pulsa pascabayar, bisnis pulsa">
        <meta name="robots" content="noindex,nofollow">
        
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="https://image.ibb.co/hEifnJ/Logo_Warungid_2.png" type="image/x-icon">
        <!-- Semantic UI -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

        <!-- Local CSS -->
        <link rel="stylesheet" href="{% static 'local.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block modal %}
        {% endblock %}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Semantic UI -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>


        <!-- Local js -->
        <script src="{% static 'local.js' %}"></script>
        {% block js%}{% endblock %}
    </body>
</html>
