{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <!-- Semantic UI -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

        <!-- Local CSS -->
        <link rel="stylesheet" href="{% static 'local.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="ui thin left sidebar inverted grey vertical menu">
            <div class="item active">
                <div class="ui inverted header">
                    WARUNGID
                </div>
            </div>
            <a href="{% url 'userprofile:index' %}" class="item">
                <i class="home icon"></i>
                Dashboard
            </a>
            <a class="item" href="{% url 'userprofile:transaksi' %}">
                <i class="trademark icon"></i>
                Transaksi
            </a>
            <a href="{% url 'userprofile:produk' %}" class="item">
                <i class="coffee icon"></i>
                Produk
            </a>
            <a href="{% url 'userprofile:member_view' %}" class="item">
                <i class="users icon"></i>
                Members
            </a>
            <a href="{% url 'userprofile:pendapatan_agen' %}" class="item">
                <i class="money icon"></i>
                Detail Pendapatan
            </a>
            <a href="#" class="item">
                <i class="mail icon"></i>
                Mail
            </a>
            <a href="{% url 'userprofile:price_rajabiller' %}" class="item">
                <i class="sync icon"></i>
                Rajabiller Price
            </a>
            <a href="#" class="item">
                <i class="globe icon"></i>
                About
            </a>
        </div>
        <div class="pusher" style="background: #f4f4f4">
            {% include 'header_admin.html' %}
            {% block content %}
        </div>
        {% endblock %}

        {% block modal %}
        {% endblock %}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Semantic UI -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>


        <!-- Local js -->
        <script src="{% static 'local.js' %}"></script>
        {% block js%}{% endblock %}
    </body>
</html>
