{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | Warungid</title>
        <!-- Required meta tags -->
        <meta itemprop="name" content="Warungid - Penjualan Pulsa & Multipayment | Warungid">
        <meta charset="utf-8">
        <meta itemprop="description" content="Penjualan pulsa & data All Operator, Token Listrik, Voucher Game, Topup Gopay, Topup Etoll, dan lain-lain.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Penjualan pulsa & data All Operator, Token Listrik, Voucher Game, Topup Gopay, Topup Etoll dan produk multipayment lainya.">
        <meta name="language" content="id">
        <meta name="keywords" content="warung id, warungid.com, warungid, pulsa, penjualan pulsa, multipayment, pake dulu bayar nanti, bisnis pulsa, serasa warung milik kita sendiri">
        <meta name="author" property="author" content="WARUNGID" />
        <meta name="robots" content="noindex,nofollow">
        <meta name="google-site-verification" content="6Nl7TTt1uZGzi7MgWYfHnIPwZnkCOg0ODvHnDz5pzH8" />
            
            
        <!-- Semantic UI -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
        <link rel="shortcut icon" href="https://image.ibb.co/hEifnJ/Logo_Warungid_2.png" type="image/x-icon">
        <!-- Local CSS -->
        <link rel="stylesheet" href="{% static 'local.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}
        {% endblock %}

        {% block modal %}
        {% endblock %}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Semantic UI -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>


        <!-- Local js -->
        <script src="{% static 'local.js' %}"></script>
        {% block js%}{% endblock %}
    </body>
</html>
