<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Kontak Kami</a>
            <!-- <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a> -->
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="{% url 'register' %}" class="item">Daftar</a>
            <a href="#" class="item">Cara Transaksi</a>
            <!-- <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a> -->
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Warungid</h4>
          <p>Melayani penjualan Pulsa & Data All Operator, Elektronik Payment, Voucher Game, Token Listrik, dan Lain-lain</p>
        </div>
      </div>
    </div>
</div>