
<!-- HIDDEN MENU -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Home</a>
        <a class="item">Company</a>
        <a class="item">About Us</a>
        <div class="right menu">
        <div class="item">
            <a href="{% url 'login' %}" class="ui orange button">Login</a>
        </div>
        <div class="item">
            <a href="{% url 'register' %}" class="ui  button">Daftar</a>
        </div>
        </div>
    </div>
</div>