{% extends 'base.html' %}
{% load static %}

{% block title %}
Warungid - Penjualan Pulsa & Multipayment
{% endblock %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster" rel="stylesheet">
<style>
    .masthead.segment {
        height: 100vh;
        padding: 1em 0em;
        background-color:#00d0d0 !important;
    }
    .masthead .ui.menu {
        border-color: transparent !important;
    }
    .masthead .ui.menu .ui.button {
        margin-left: 1em;
    }
    .secondary.pointing.menu .toc.item {
        display: none;
    }
    .ui.vertical.stripe {
        padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
        font-size: 2em;
    }
    .ui.vertical.stripe p {
        font-size: 1.33em;
    }
    .quote.stripe.segment {
        padding: 0em;
    }
    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .footer.segment {
        padding: 5em 0em;
    }
    .jumbotext.container {
        margin-top: 7em;
    }
    .jumbotext  .ui.header {
        font-family: 'Lobster', cursive;
        /* font-family: 'Dancing Script', cursive; */
        font-size: 3em !important;
    }
    .jumbotext p {
        font-family: 'Lobster', cursive;
        /* font-family: 'Dancing Script', cursive; */
        font-size: 1.4em !important;
    }
    .btntext {
        margin-top: 3em !important;
    }
    .btntext .ui.button {
        margin-top: 1.2em;
    }
    @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
            display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
            display: none;
        }
        .secondary.pointing.menu .toc.item {
            display: block;
        }
        .masthead.segment {
            min-height: 350px;
        }
        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }
        .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }
</style>
{% endblock %}

{% block js %}
<script>
    $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
</script>
{% endblock %}



{% block content %}
<div class="ui inverted vertical center aligned masthead segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a href="#" class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a href="#" class="item active">Home</a>
            <a href="#" class="item">Company</a>
            <a href="#" class="item">About Us</a>
            <div class="right item">
                <a href="{% url 'login' %}" class="ui inverted button">Login</a>
                <a href="{% url 'register' %}" class="ui inverted button">Daftar</a>
            </div>
        </div>
    </div>
    <div class="ui text middle aligned jumbotext container">
        <h1 class="ui inverted header">
            Warungid
        </h1>
        <p>Serasa Warung Milik Kamu Sendiri</p>
    </div>
    <div class="ui padded text container teal inverted btntext segment">
        Melayani penjualan Pulsa & Data All Operator, Elektronik Payment, Voucher Game, Token Listrik, dan Lain-lain
        <div class="ui grid">
            <div class="column">
                <a href="{% url 'register' %}" class="ui huge orange button">Coba Sekarang <i class="right arrow icon"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eleven wide column">
                <h3 class="ui header">Mengapa Bergabung Bersama Kami?</h3>
                <p>
                    Kami adalah satu-satunya penyedia jasa penjualan & pembayaran elektronik pertama di Indonesia yang menerapkan tanpa pengisian saldo awal untuk member baru yang didaftarkan oleh Partner Warungid.
                </p>
                <h3 class="ui header">Bagaimana Melakukan Transaksi?</h3>
                <p>
                    Transaksi dilakukan menggunakan layanan aplikasi Bot Telegram <a target="_blank" href="http://telegram.me/warungid_bot"><i class="telegram icon"></i> @warungid_bot</a>
                </p>
            </div>
            <div class="three wide computer only column">
                <img src="{% static 'images/phone.png' %}" class="ui image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a href="{% url 'register' %}" class="ui huge button">Check Them Out</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}