{% extends 'base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
    .hidden.menu {
      display: none;
    }

    .methead.segment {
        min-height: 400px;
        padding: 1em 0em;
    }

    .methead.segment .pointing.menu {
        border: none;
    }

    .methead.segment .ui.menu .ui.button {
        margin-left: 0.5em;
    }
  </style>
{% endblock %}

{% block content %}
<div class="ui vertical inverted methead teal center aligned segment">
    <div class="ui container">
        <div class="ui large inverted secondary pointing menu">
            <a href="#" class="item active">Home</a>
            <a href="#" class="item">Company</a>
            <a href="#" class="item">Carrers</a>
            <div class="right item">
                <a href="#" class="ui inverted button">Login</a>
                <a href="#" class="ui inverted button">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="ui text container">
        <img class="ui centered medium image" src="{% static 'images/shop_40505.png' %}" alt="">
    </div>
</div>
{% endblock %}