{% autoescape off %}
Hi {{ user.username }},

Selamat bergabung bersama warungid.com
Segera integrasikan applikasi telegram android Anda dengan bot warungid untuk melakukan transaksi.

Code Aktivasi Telegram : {{ user.profile.token_code }}

Manual Book Integrasi:
http://www.okezone.com/panduan_integrasi_telegram

Nikmati layanan pembelian Pascabayar untuk semua produk Warungid.com, dengan segera menghubungi Agen yang telah mengajak Anda bergabung bersama kami.

"PAKE DULU BAYAR KEMUDIAN"
Hanya di warungid

Salam,

warungid.com~
Berasa punya warung sendiri
{% endautoescape %}