{% autoescape off %}
Hi {{ member.user.username }},

Selamat bergabung bersama warungid.com

Kamu memperoleh kesempatan pembelian di Warungid senilai Rp 220.000 tanpa isi saldo terlebih dahulu.
Segera integrasikan applikasi telegram android Anda dengan bot warungid untuk melakukan transaksi.

Code Aktivasi Telegram : {{ member.token_code }}

Manual Book Integrasi:
https://image.ibb.co/m7Z69y/register_guide.png

"PAKE DULU BAYAR KEMUDIAN"
Hanya di warungid

Salam,

warungid.com~
Serasa Warung Milik Kamu Sendiri
{% endautoescape %}