{% extends 'base_admin.html' %}
{% load humanize %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui fluid container">
        <div class="ui equal width padded stackable grid">
            <!-- Main Chart -->
            <div class="row">
                <div class="column">
                    <div class="ui basic segment" id="chart-1" data-url="{% url 'userprofile:trx_dataset' %}">
                        <!-- chart trx -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui inverted orange segment clearing">
                        <div class="ui grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui tiny inverted statistic">
                                        <div class="value">{{ laporan.c_trx|intcomma }}</div>
                                        <div class="label">Transaction</div>
                                    </div>
                                    <h4 class="ui icon header inverted right floated">
                                        <i class="trademark icon"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="column">
                    <div class="ui inverted red segment">
                        <div class="ui grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui tiny inverted statistic">
                                        <div class="value">{{ member.c_user|intcomma }}</div>
                                        <div class="label">Members</div>
                                    </div>
                                    <h4 class="ui icon header inverted right floated">
                                        <i class="users icon"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui inverted blue segment">
                        <div class="ui grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui tiny inverted statistic">
                                        <div class="value">Rp {{ member.v_piutang|intcomma }}</div>
                                        <div class="label">Uncollect</div>
                                    </div>
                                    <h4 class="ui icon header inverted right floated">
                                        <i class="chart pie icon"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui inverted green segment">
                        <div class="ui grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui tiny inverted statistic">
                                        <div class="value">Rp {{ user.profile.saldo|intcomma }}</div>
                                        <div class="label">Saldo</div>
                                    </div>
                                    <h4 class="ui icon header inverted right floated">
                                        <i class="pound sign icon"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block modal %}
    <div user-status="{{ user.profile.email_confirmed }}" id="user_unmodal" class="ui basic small modal">
        <div class="content">
            <div class="ui vertical basic center aligned segment">
                <h3 class="ui icon inverted header">
                    <i class="telegram blue icon"></i>
                    Telegram Activation
                </h3>
                <p style="font-size: 1.1rem; padding-top: 20px">
                    Segera integrasikan apllikasi Telegram Anda ke telegram bot @warungid_bot.
                    Kode Aktivasi Telegram telah kami email ke <strong style="color: orange">{{ user.email }}</strong>. Terimakasih  
                </p>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve centered primary basic button">Confirm</div>
            <!-- <div class="ui button">Neutral</div>
            <div class="ui cancel button">Cancel</div> -->
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $.ajax({
            url: $('#chart-1').attr('data-url'),
            type: 'get',
            dataType: 'json',
            success: function(data) {
                Highcharts.chart('chart-1', data);
            }
        });

        function usertelemodal() {
            modelu = $('#user_unmodal');
            if (modelu.attr('user-status')=='False'){
                modelu.modal('show');
            }
            return false;
        }

        usertelemodal();
    });
</script>
{% endblock %}