{% extends 'base_admin.html' %}



{% block content %}
<div class="ui vertical segment">
    <div class="ui fluid container">
        <form action="" class="ui form" method="post">
            {% csrf_token %}
            <div class="ui calendar" id="periode">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date" name='periode'>
                </div>
            </div>
            <button class="ui button primary" type="submit">Generate Payroll</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#periode').calendar({
            type: 'date',
            formatter: {
                date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                return year + '-' + month + '-' + day;
                }
            }
        });
    });
</script>
{% endblock %}