{% extends 'base_admin.html' %}
{% load humanize %}

{% block title %}
Komisi & Pendapatan Agen
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui fluid container">
        <div class="ui equal width padded grid">
            <div class="ten wide column">
                <div class="ui top attached segment">
                    <h5 class="ui header">
                            Komisi & Pendapatan
                    </h5>
                </div>
                <div class="ui bottom attached segment">
                    <table class="ui celled small table">
                        <tr>
                            <td colspan="2">
                                <h5 class="ui header">DETAIL PIUTANG</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>Piutang Berjalan (IDR)</td>
                            <td class="right aligned">{{ penjualan|intcomma }}</td>
                        </tr>
                        <tr>
                            <td >Piutang Bulan Sebelumnya (IDR)</td>
                            <td class="right aligned">{{ sisa_piutang|intcomma }}</td>
                        </tr>
                        <tr>
                            <td>Total Piutang Belum Tagih</td>
                            <td class="right aligned"><b>{{ total_piutang|intcomma }}</b></td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                                <h5 class="ui header">COLLECTION</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>Collection (IDR)</td>
                            <td class="right aligned">{{ net_collect|intcomma }}</td>
                        </tr>
                        <tr>
                            <td>Utip (IDR)</td>
                            <td class="right aligned">{{ utip|intcomma }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h5 class="ui header">
                                        PENDAPATAN / KOMISI
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Income / Pendapatan Diterima (IDR) <br>
                                <small>80% Total Keuntungan</small>
                            </td>
                            <td class="right aligned"><b>{{ salary|intcomma }}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <h5 class="ui header">
                        <i class="ui history i"></i>
                        <div class="content">
                            History Pendapatan
                        </div>
                    </h5>
                    <table class="ui striped small table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Periode</th>
                                <th>Uncollect</th>
                                <th>Komisi</th>
                            </tr>
                        </thead>
                        {% for pay in payroll %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ pay.periode }}</td>
                            <td>{{ pay.uncollect|intcomma }}</td>
                            <td>{{ pay.salary|intcomma }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Empty</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}