{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load templatehelpers %}

{% block css %}
    <style>
    .adbase .ui.container {
        margin-bottom: 15px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="ui vertical adbase segment" style="margin-top:70px">
    <div class="ui container">
        <div class="ui large breadcrumb">
            <a href="{% url 'userprofile:index' %}" class="section">Dashboard</a>
            <i class="right angle icon divider"></i>
            <div class="active section">Transaksi</div>
        </div>
    </div>
    <div class="ui container">
        <form action="" class="ui form">
            <div class="ui action input">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit" class="ui button">Search</button>
            </div>
        </form>
    </div>
    <div class="ui container">
        <table class="ui celled small table" id="trx-tab">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode Transaksi / Produk</th>
                    <th>Customer</th>
                    <th>Harga</th>
                    <th>Balance</th>
                    <th>Status</th>
                    <th>User</th>
                    <th>Agen Collection</th>
                    <th>Profit</th>
                    <th>Timestamp</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trx in trxs %}
                <tr class="{% if trx.get_transaksi_obj.status == 9 %}negative{% endif %}">
                    <td>{{ forloop.counter0|add:trxs.start_index }}</td>
                    <td>
                        <i>{{ trx.get_transaksi_obj.trx_code }}</i>
                        <br>
                        {{ trx.get_transaksi_obj.product.keterangan }}
                        {{ trx.get_transaksi_obj.product.nama_produk }}
                    </td>
                    <td>
                        {{ trx.get_transaksi_obj.phone|truncatechars:15 }}
                    </td>
                    <td>
                        {{ trx.kredit|intcomma }}
                    </td>
                    <td>
                        {{ trx.balance|intcomma }}
                    </td>
                    <td id="td-{{ trx.get_transaksi_obj.id }}">
                        {{ trx.get_transaksi_obj.get_status_display }}
                    </td>
                    <td>{{ trx.user|truncatechars:13 }}</td>
                    <td>{{ trx.user.profile.profile_member|default_if_none:'-' }}</td>
                    <td>{{ trx.profit|intcomma }}</td>
                    <td>
                        {{ trx.timestamp|date:"d/m/y H:i" }}
                    </td>
                    <td>
                        <div class="ui mini basic icon vertical buttons">
                            <a class="ui icon button js-trx-detail-link" href="#" target-url="{% if trx.bukutrans %}{% url 'userprofile:trans_trx' trx.bukutrans.id %}{% endif %}{% if trx.bukupln %}{% url 'userprofile:pln_trx' trx.bukupln.id %}{% endif %}{% if trx.transaksi %}{% url 'userprofile:pulsa_trx' trx.transaksi.id %}{% endif %}"><i title="View Transaction" class="icon sign in alternate"></i></a>                        
                            <a href="#" target-url="{% if trx.transaksi %}{% url 'userprofile:pulsa_failed' trx.transaksi.id %}{% endif %}" class="ui icon button js-trx-failed-btn {% if trx.get_transaksi_obj.status == 9 %}disabled{% endif %}" title="Modify to failed"><i class="close red icon"></i></a>
                        </div>
                        
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="center aligned" colspan="11">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if trxs.has_other_pages %}
    <div class="ui container">
        <div class="ui pagination menu">
            {% if trxs.has_previous %}
            <a href="{% relative_url trxs.previous_page_number 'page' request.GET.urlencode %}" class="item">Prev</a>
            {% else %}
            <div class="item"><span>&laquo;</span></div>
            {% endif %}
            {% for i in trxs.paginator.page_range %}
                {% if trxs.number == i%}
                <div class="item active">{{ i }}</div>
                {% else %}
                <a href="{% relative_url i 'page' request.GET.urlencode %}" class="item">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if trxs.has_next %}
            <a href="{% relative_url trxs.next_page_number 'page' request.GET.urlencode %}" class="item">Next</a>
            {% else %}
            <div class="item"><span>&laquo;</span></div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block modal %}
<div class="ui modal" id="view-modal">
</div>

<div class="ui basic small modal" id="notif-modal">
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var loadModalink = function () {
            var btn = $(this);

            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('#view-modal').modal('show');
                },
                success: function(data) {
                    $('.ui.modal').html(data.html);
                }
            });
            return false;
        }

        var loadNotifModal = function() {
            var btn = $(this);

            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('#notif-modal').modal('show');
                },
                success: function(data) {
                    $('#notif-modal').html(data.html);
                }
            });
            return false;
        }

        var postFailedform = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    if(data.form_is_valid) {
                        $('#td-'+data.id).html(data.html);
                        $('#td-'+data.id).parent().addClass('negative');
                        $('#notif-modal').modal('hide');
                    } 
                }
            })
            return false;
        }


        $('#trx-tab').on('click' ,'.js-trx-detail-link', loadModalink);
        $('#trx-tab').on('click' ,'.js-trx-failed-btn', loadNotifModal);

        $('#notif-modal').on('click', '.js-failed-form', postFailedform);

    });
</script>
{% endblock %}