{% extends 'base_admin.html' %}
{% load static %}
{% load humanize %}
{% load templatehelpers %}

{% block title %}
Data Transaksi
{% endblock %}

{% block content %}
<div class="ui vertical segment">
    <div class="ui fluid container">
        <div class="ui equal width padded grid">
            <div class="row">
                <div class="column">
                    <div class="ui top attached segment">
                        <h5 class="ui header">Transaksi</h5>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui equal width grid">
                            <div class="row">
                                <div class="column">
                                    <form action="" class="ui form">
                                        <div class="ui action tiny input">
                                            <input type="text" placeholder="Search..." name="search">
                                            <button type="submit" class="ui positive button">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="eleven wide column">
                                    <div class="ui five cards">
                                        <div class="card blue">
                                            <div class="content">
                                                <div class="ui blue tiny statistic">
                                                    <div class="label">Sold</div>
                                                    <div class="value">{{ laporan.v_sold|intcomma }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="card red">
                                            <div class="content">
                                                <div class="ui red tiny statistic">
                                                    <div class="label">Piutang</div>
                                                <div class="value">{{ piutang|intcomma }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card green">
                                            <div class="content">
                                                <div class="ui green tiny statistic">
                                                    <div class="label">Collection</div>
                                                    <div class="value">{{ collection|intcomma }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card yellow">
                                            <div class="content">
                                                <div class="ui yellow tiny statistic">
                                                    <div class="label">Utip</div>
                                                    <div class="value">{{ prof_resume.v_utip|intcomma }}</div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="card">
                                            <div class="content">
                                                <div class="ui tiny statistic">
                                                    <div class="label">Profit</div>
                                                    <div class="value">{{ v_profit|floatformat:0|intcomma }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <table class="ui small celled striped selectable table" id="trx-tab">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Pelanggan</th>
                                                <th>No. Pelanggan</th>
                                                <th>Transaksi / Produk</th>
                                                <th>Price</th>
                                                {% if user.is_staff %}
                                                <th>Balance</th>
                                                {% endif %}
                                                <th>Status</th>
                                                <th>Manager</th>
                                                <th>Profit</th>
                                                <th>Time Order</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trx in trxs %}
                                            <tr class="{% if trx.get_transaksi_obj.status == 9 %}negative{% endif %}">
                                                <td>{{ forloop.counter0|add:trxs.start_index }}</td>
                                                <td>{{ trx.user|title|truncatechars:13 }}</td>
                                                <td>
                                                    {{ trx.customer|truncatechars:15 }}
                                                </td>
                                                <td> 
                                                    <i>{{ trx.get_transaksi_obj.trx_code }}</i>
                                                    <br>
                                                    {{ trx.product_label }}
                                                </td>
                                                
                                                <td>
                                                    {{ trx.kredit|intcomma }}
                                                </td>
                                                {% if user.is_staff %}
                                                <td>
                                                    {{ trx.balance|intcomma }}
                                                </td>
                                                {% endif %}
                                                <td id="td-{{ trx.get_transaksi_obj.id }}">
                                                    {{ trx.get_transaksi_obj.get_status_display }}
                                                </td>
                                                <td>{{ trx.user.profile.profile_member|default_if_none:'-' }}</td>
                                                <td>{{ trx.profit|intcomma }}</td>
                                                <td>
                                                    {{ trx.timestamp|date:"d/m/y H:i" }}
                                                </td>
                                                <td>
                                                    <div class="ui mini basic icon buttons">
                                                        <a class="ui icon button js-trx-detail-link" href="#" 
                                                        target-url="{% if trx.bukutrans %}{% url 'userprofile:trans_trx' trx.bukutrans.id %}
                                                        {% elif trx.etrans_rbbuku_transaksi %}{% url 'userprofile:trans_trx_rb' trx.etrans_rbbuku_transaksi.id %}
                                                        {% elif trx.bukupln %}{% url 'userprofile:pln_trx' trx.bukupln.id %}
                                                        {% elif trx.epln_rbbuku_transaksi %} {% url 'userprofile:pln_trx_rb' trx.epln_rbbuku_transaksi.id %}
                                                        {% elif trx.transaksi %}{% url 'userprofile:pulsa_trx' trx.transaksi.id %}
                                                        {% elif trx.mpulsa_rbbuku_transaksi %}{% url 'userprofile:pulsa_trx_rb' trx.mpulsa_rbbuku_transaksi.id %}
                                                        {% elif trx.egame_rbbuku_transaksi %}{% url 'userprofile:game_trx_rb' trx.egame_rbbuku_transaksi.id %}
                                                        {% endif %}"><i title="View Transaction" class="icon sign in alternate"></i></a>                        
                                                        
                                                        {% if user.is_staff %}
                                                        <a href="#" target-url="
                                                        {% if trx.transaksi %}{% url 'userprofile:pulsa_failed' trx.transaksi.id %}
                                                        {% elif trx.mpulsa_rbbuku_transaksi %}{% url 'userprofile:pulsa_failed_rajabiler' trx.mpulsa_rbbuku_transaksi.id %}
                                                        {% elif trx.etrans_rbbuku_transaksi %}{% url 'userprofile:trans_failed_rb' trx.etrans_rbbuku_transaksi.id %}
                                                        {% elif trx.epln_rbbuku_transaksi %} {% url 'userprofile:pln_failed_rb' trx.epln_rbbuku_transaksi.id %}
                                                        {% elif trx.egame_rbbuku_transaksi %}{% url 'userprofile:game_failed_rb' trx.egame_rbbuku_transaksi.id %}
                                                        {% endif %}" class="ui icon button js-trx-failed-btn {% if trx.get_transaksi_obj.status == 9 %}disabled{% endif %}" title="Modify to failed"><i class="close red icon"></i></a>
                                                        {% endif %}
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td class="center aligned" colspan="11">No data</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <small>Menampilkan {{ trxs.start_index }} - {{ trxs.end_index }} dari {{ c_trx }} transaksi.</small>
                                </div>
                                <div class="column right aligned">
                                    {% if trxs.has_other_pages %}
                                    <div class="ui small pagination menu">
                                        {% if trxs.has_previous %}
                                        <a href="{% relative_url trxs.previous_page_number 'page' request.GET.urlencode %}" class="item">Prev</a>
                                        {% else %}
                                        <div class="item"><span>&laquo;</span></div>
                                        {% endif %}
                                        {% for i in trxs.paginator.page_range %}
                                            {% if trxs.number == i%}
                                            <div class="item active">{{ i }}</div>
                                            {% else %}
                                            <a href="{% relative_url i 'page' request.GET.urlencode %}" class="item">{{ i }}</a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if trxs.has_next %}
                                        <a href="{% relative_url trxs.next_page_number 'page' request.GET.urlencode %}" class="item">Next</a>
                                        {% else %}
                                        <div class="item"><span>&laquo;</span></div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block modal %}
<div class="ui modal" id="view-modal">
</div>

<div class="ui basic small modal" id="notif-modal">
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var loadModalink = function () {
            var btn = $(this);

            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('#view-modal').modal('show');
                },
                success: function(data) {
                    $('.ui.modal').html(data.html);
                }
            });
            return false;
        }

        var loadNotifModal = function() {
            var btn = $(this);

            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('#notif-modal').modal('show');
                },
                success: function(data) {
                    $('#notif-modal').html(data.html);
                }
            });
            return false;
        }

        var postFailedform = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    if(data.form_is_valid) {
                        // $('#td-'+data.id).html(data.html);
                        // $('#td-'+data.id).parent().addClass('negative');
                        $('#notif-modal').modal('hide');
                    } 
                }
            })
            return false;
        }


        $('#trx-tab').on('click' ,'.js-trx-detail-link', loadModalink);
        $('#trx-tab').on('click' ,'.js-trx-failed-btn', loadNotifModal);

        $('#notif-modal').on('submit', '.js-failed-form', postFailedform);

    });
</script>
{% endblock %}