{% extends 'base.html' %}
{% load humanize %}

{% block css %}
    <style>
    .adbase .ui.container {
        margin-bottom: 15px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="ui vertical adbase segment" style="margin-top:70px">
    <div class="ui container">
        <div class="ui segment orange secondary">
            {% if user.is_staff %}
            <div class="ui tiny blue statistic">
                <div class="label">
                    Total Transaksi
                </div>
                <div class="value">
                    {{ laporan.penjualan|default_if_none:0|intcomma }}
                </div>
            </div>
            <div class="ui tiny teal statistic">
                <div class="label">
                    Total Collection
                </div>
                <div class="value">
                    {{ laporan.collect|default_if_none:0|intcomma }}
                </div>
            </div>
            {% endif %}
            <div class="ui tiny statistic">
                <div class="label">
                    My Saldo
                </div>
                <div class="value">
                    {{ user.profile.saldo|intcomma }}
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid container">
        <div class="six wide column">
            <table class="ui very basic celled table">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="ui header">
                                <i class="book icon"></i>
                                <div class="content">
                                    Transaksi
                                    <div class="sub header">
                                        Count of transaction
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ c_trx }}</td>
                        <td><a href="{% url 'userprofile:transaksi' %}">View</a></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui header">
                                <i class="users icon"></i>
                                <div class="content">
                                    Members
                                    <div class="sub header">
                                        Count of your members
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ members }}
                        </td>
                        <td>
                            <a href="#">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ten wide column">
            <h2 class="ui header">
                Produk
            </h2>
            <div class="ui two cards">
                <div class="card">
                    <div class="content">
                        <div class="header">
                            Pulsa & Data
                        </div>
                        <div class="meta">
                            Telkomsel, Indosat, XL, Smartfren
                        </div>
                        <div class="description">
                            Statistik penjualan & pembayaran.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">
                            Top Up
                        </div>
                        <div class="meta">
                            Grab Pay, Go-Jek, Tol
                        </div>
                        <div class="description">
                            Statistic penjualan, dan pembayaran.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">
                            Token Listrik
                        </div>
                        <div class="meta">
                            Token Listrik
                        </div>
                        <div class="description">
                            Statistic penjualan, dan pembayaran.
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
</div>
{% endblock %}