{% extends 'base_register.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
<style>
  .topdash.segmentb{
    height: 100%;
  }

  .grid {
    min-height: 100vh;
  }
</style>
{% endblock %}

{% block content %}
  <div class="ui basic vertical inverted blue segment">
    <div class="ui fluid container">
      <div class="ui three column centered middle aligned topdash grid">
        <div class="column">
          <div class="ui segment">
              {% if validlink %}
                <h3 class="ui center aligned blue header">Change Password</h3>
                <form method="post" action="" class="ui form">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="field">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      <div class="ui input error">
                        {{ field }}
                      </div>
                      <small style="color:red">
                        {% for error in field.errors %}
                          {{ error }}
                        {% endfor %}
                      </small>
                    </div>
                  {% endfor %}
                  <button class="ui fluid orange large button" type="submit">Change password</button>
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}