{% extends 'base_register.html' %}
{% load widget_tweaks %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
<style>
 .topdash.grid {
    height: 100vh;
 }
</style>
{% endblock %}

{% block content %}
  <div class="ui vertical inverted blue tertiary segment">
    <div class="ui container">
      <div class="ui two column padded middle aligned centered topdash grid">
        <div class="column">
          <h2 class="ui inverted center aligned header">Reset Password Form</h2>
          <div class="ui clearing padded segment" style="margin-top: 30px">
            <h2 class="ui teal center aligned header">Forgot Password</h2>
            <p style="text-align: center; margin:30px 0">Silahkan masukan email akun Anda, kemudian silahkan check inbox.</p>
            <form action="" method="post" class="ui form">
              {% csrf_token %}
              <div class="field">
                <div class="ui left icon input">
                    {% render_field form.email placeholder="Your Email Address" %}
                    <i class="mail icon"></i>
                </div>
              </div>
              <button class="ui orange button right floated" type="submit">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}