{% extends 'base_register.html' %}
{% load static %}


{% block title %}
Reset Password Success
{% endblock %}

{% block css %}
<style>
  .adhoc.segment {
    height: 100%;
  }
</style>
{% endblock %}

{% block content %}
  <div class="ui vertical inverted teal adhoc segment">
    <div class="ui container">
      <div class="ui centered stackable grid">
        <div class="row">
          <div class="four wide column">
            <div class="ui segment">
                <h1 class="ui center aligned orange header">
                    SUCCESS
                  </h1>
                  <img src="{% static 'images/success.png' %}" alt="" class="ui small centered image">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column center aligned">
              <a href="{% url 'login' %}" class="ui orange huge button">Login</a>
              <h1 class="ui inverted header">Silahkan Login kembali</h1>
          </div>
        </div>
      </div>


    </div>
  </div>
{% endblock %}