{% extends 'base_register.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
<style>
  .topdash.segment {
    height: 100%;
  }
  /* p {
    font-size: 1.5rem;
  } */
</style>
{% endblock %}

{% block content %}
  <div class="ui vertical inverted blue tertiary topdash segment">
    <div class="ui text container">
        <p style="text-align: center">
          Kode reset password telah kami kirim ke alamat email, silahkan cek folder inbox atau spam.
        </p>
        <img src="{% static 'images/email-icon.png' %}" alt="" class="ui centered small image">
    </div>
  </div>
{% endblock %}